imageio
ipython
matplotlib
opencv-python
PyYAML
scikit-learn
scipy

tqdm
--find-links https://download.pytorch.org/whl/torch_stable.html
# Uncomment the below line in case you want to access CUDA devices with torch.
# Make sure the cuda version matches what's on your device.
# --extra-index-url https://download.pytorch.org/whl/cu128
torch
numpy
typing
terminaltables
Pillow
--find-links https://download.pytorch.org/whl/torch_stable.html
# Uncomment the below line in case you want to access CUDA devices with torch.
# Make sure the cuda version matches what's on your device.
# --extra-index-url https://download.pytorch.org/whl/cu128
torchvision
tensorboardX
onnxruntime
setuptools
timm
easydict
attr
thop
torchsummary
Flask
mmcv==1.7.0